# RStudio / R temporary files
.Rhistory
.RData
.Rproj.user/
.Ruserdata
*.Rproj
.DS_Store
# RStudio temporary files
.Rapp.history

# Build artifacts
.Rcheck/
packrat/
renv/library/
renv/staging/
.Renv
